@keyframes zoomIn {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--white-bg-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 20px; */
}

.blur-background {
    filter: blur(4px);
}

.container .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 100px;
}

.container .body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.areaGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 30px;
    gap: 25px;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.areaCard {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-bg-color);
    border-radius: 15px;
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 345px;
    height: 225px;
    box-shadow: var(--box-shadow-element);
    transition: 0.1s;
}

.isSleeping {
    opacity: 0.5;
}

.areaCard:hover {
    scale: 1.05;
}

.areaCard:active {
    scale: 0.95;
}

.areaCard .headerAreaCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "gg sans bold";
    font-size: 28px;
    overflow: hidden;
    width: 100%;
    height: 15%;
    padding-bottom: 15px;
}

.areaCard .bodyAreaCard {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.areaCard .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.areaCard .details .headerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "gg sans bold";
    font-size: 22px;
    overflow: hidden;
    width: 100%;
    height: 15%;
}

.areaCard .details .service {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-family: "gg sans bold";
    text-transform: capitalize;
    gap: 5px;
}

.icon {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--purple-font-color);
}

.state {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 35%;
    right: 0;
    transform: translate(-50%, -50%);
    color: black;
}

.areaCard .details .logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaCard .details .description {
    display: flex;
    font-size: 12px;
    font-family: "gg sans bold";
    margin: 10px;
    text-align: center;
}

.modalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContainer .headerModal {
    width: 100%;
    height: 100px;
    font-family: "gg sans bold";
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .bodyModal {
    display: flex;
    width: 90%;
    flex-grow: 1;
    overflow: hidden;
}

.modalContainer .forms {
    display: flex;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.modalContainer .form {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    padding-bottom: 20px;
}

.modalContainer .formInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.modalContainer .formInput label {
    font-size: 18px;
    font-family: "gg sans bold";
    text-transform: uppercase;
    color: var(--purple-font-color);
}

.modalContainer .formInput .inputBox {
    position: relative;
    width: 90%;
    height: 50px;
    /* align-items: center; */
}

.modalContainer
    .formInput
    :is(
        .inputBox input[type="text"],
        [type="email"],
        [type="password"],
        .inputBox select,
        .descBox textarea,

    ) {
    border-radius: var(--border-radius-element);
    box-shadow: var(--box-shadow-element);
    /* position: absolute; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-family: "gg sans bold";
    font-size: 16px;
    color: #505050;
    resize: none;
    scrollbar-width: none;
    transition: all ease-in-out 0.25s;
}

.modalContainer .formInput .descBox {
    position: relative;
    transition: all 0.5s;
    border-radius: var(--border-radius-element);
    box-shadow: var(--box-shadow-element);
    overflow: hidden;
}
.modalContainer .formInput .descBox:focus-within {
    height: 150px;
}

.descBox .descLength {
    position: absolute;
    color: var(--purple-font-color);
    font-family: "gg sans bold";
    padding: 10px;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    animation-fill-mode: none;
    transform: translate(100%, 100%);
}

.descBox:focus-within .descLength {
    transform: translate(0, 0);
    opacity: 1;
}

.modalContainer .formInput .servicesList {
    display: flex;
    width: 90%;
    height: 120px;
    overflow: auto;
    border-radius: var(--border-radius-element);
    background-color: rgba(255, 255, 255, 0.5);
    scrollbar-width: none;
    box-shadow: var(--box-shadow-element);
}

.modalContainer .formInput .servicesList .serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    font-family: "gg sans bold";
    min-width: 120px;
    gap: 10px;
    transition: all 0.25s;
}

.modalContainer
    .formInput
    .servicesList
    :is(.serviceCard:hover, .selectedCard) {
    background-color: rgba(0, 0, 0, 0.05);
}

.modalContainer
    .formInput
    .servicesList
    :is(.serviceCard:active, .selectedCard) {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--purple-font-color);
}

.modalContainer .formInput .servicesList .serviceCard .logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.modalContainer .footerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100px;
}

.scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

.switchZone {
    font-family: "gg sans bold";
    gap: 10px;
    top: 45%;
    right: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 5px;
}

.switch {
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.switch.undefined {
    opacity: 0.2;
}

.switch.active {
    background-color: rgba(195, 157, 212, 1);
}

.switch::before {
    content: "";
    left: 0;
    top: 0;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all 0.3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.15);
}

.switch.active:hover::before {
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.15);
}

.switch.active:before {
    transform: translateX(85%);
    border-color: rgba(195, 157, 212, 1);
}

.resetSwitch {
    height: 15px;
    width: 15px;
}

.switchInfo {
    font-family: "gg sans bold";
    font-size: 16px;
    color: black;
    animation: fadeIn 0.5s ease-out;
}

.modalContainerShow {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.modalContainerShow .done {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "gg sans bold";
    color: white;
    text-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

.modalContainerShow .done__title {
    font-size: 48px;
}

.modalContainerShow .done__content {
    font-size: 22px;
}

.modalContainerShow .header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.modalContainerShow .header h1 {
    font-size: 48px;
    font-family: "gg sans bold";
}

.modalContainerShow .body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 95%;
    flex-grow: 1;
    overflow-y: auto;
    gap: 30px;
}

.modalContainerShow .body :is(h1, h2) {
    font-family: "gg sans bold";
    color: black;
}

.modalContainerShow .body h1 {
    font-size: 24px;
}

.modalContainerShow .body h2 {
    font-size: 18px;
}

.modalContainerShow .body .actionReactionGrid {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modalContainerShow .body .actionReactionBox {
    padding: 10px;
    gap: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actionReactionBox .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.modalContainerShow .body .actionReactionBox :is(h1, h2) {
    color: black;
    font-family: "gg sans bold";
}

.modalContainerShow .body .actionReactionBox h1 {
    font-size: 24px;
}

.modalContainerShow .body .actionReactionBox h2 {
    font-size: 16px;
    text-align: center;
}

.modalContainerShow .body .actionReactionBox .data {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
}

.modalContainerShow .body .actionReactionBox .data :is(label, .value) {
    font-size: 14px;
    font-family: "gg sans bold";
}
.modalContainerShow .body .actionReactionBox .data label {
    text-transform: uppercase;
    color: var(--purple-font-color);
}

.modalContainerShow .logo {
    width: min(100px, 90%);
}

.modalContainerShow .footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 150px;
    width: 90%;
    z-index: 11;
}

.modalContainerShow button.delete {
    background-color: rgb(226, 78, 78);
}
